@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --background-color: #000000;
    --text-color: #F6F6F6;
    --secondary-color: #22D4FD;
    --hover-background-color: #272727;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
}

.title__highlight {
    color: var(--secondary-color)
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
}

.content__texts {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content__texts__title {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.content__texts__paragraph {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.content__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.content__links__subtitle {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.content__links__buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    width: 378px;
    font-size: 24px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    color: var(--text-color);
    padding: 21.5px 0px;
    text-decoration: none;
    text-align: center;
}

.content__links__buttons:hover {
    background-color: var(--hover-background-color);
}

.footer {
    color: var(--background-color);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 24px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 24px;
    font-weight: 400;
}